.container-register {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255, 255, 255);
    width: 450px;
    height: 650px;
    border: 0.35rem solid #023E73;
    border-radius: 5rem;
}

img {
    width: 50px;
    height: 100px;
    margin: auto; 
}