.contenedorP {
    font-weight: 900;
    color: white; /* Cambiado a blanco */
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.tarjetaP {
    background-color: white;
    border: 5px solid rgb(22, 23, 102);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 550px;
    border-radius: 30px;
}

.bienvenida {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255); /* Cambiado a negro */
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.salida {
    width: auto;
    height: auto;
}

.imagen {
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.box {
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.158);
    width: auto;
    height: 50px;
    border-radius: 5px;
    color: white; /* Cambiado a blanco */
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.user {
    color: white; /* Cambiado a blanco */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 00px;
    border-radius: 10px;
}

.boton {
    background-color: rgb(255, 255, 255);
    color: white; /* Cambiado a blanco */
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px; /* Reducir el margen inferior */
}
