body {
    background-color: #f55800;
}

.bienvenidos {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
}

p {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.section-two {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    padding: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    h2 {
        text-align: center;
        color: black;
        font-weight: 900;
        font-size: 30px;
    }

    p {
        text-align: center;
        color: black;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.section-three {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f55800;
    padding: 20px;

    .tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #ee9968;
        border-radius: 10px;
        box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.5);
    }

    h2 {
        color: black;
        font-size: 30px;
        font-weight: 900;
        justify-content: center;
    }

    p {
        color: black;
        text-align: center;
        font-weight: 500;
    }
    
}

.image{
    width: 600px;
    height: 300px;
    border-radius: 10px ;
    box-shadow: 2px 2px 1px 2px rgb(0, 0, 0);
}

/* Responsive Styles */

@media (max-width: 1280px) {
    .bienvenidos {
        font-size: 20px; /* Reducir el tamaño del texto de bienvenida */
    }

    p {
        font-size: 15px; /* Reducir el tamaño del texto de párrafo */
    }

    .section-three .tarjeta {
        padding: 10px;
    }

    h2 {
        font-size: 20px; /* Reducir el tamaño del texto de los títulos */
    }

    p {
        font-size: 18px; /* Reducir el tamaño del texto de párrafo */
    }
}

@media (max-width: 1424px) {
    .bienvenidos {
        font-size: 30px; /* Reducir aún más el tamaño del texto de bienvenida */
    }

    p {
        font-size: 14px; /* Reducir aún más el tamaño del texto de párrafo */
    }

    .section-three .tarjeta {
        padding: 10px;
    }

    h2 {
        font-size: 30px; /* Reducir aún más el tamaño del texto de los títulos */
    }

    p {
        font-size: 14px; /* Reducir aún más el tamaño del texto de párrafo */
    }
}